
  <div class="row">
    <div class="col-12 col-lg-3">
      <div class="card">
        <div class="card-body p-0 clearfix">
          <i class="fa fa-industry bg-primary p-4 font-2xl mr-3 float-left"></i>
          <div class="font-xs text-primary mb-0 pt-3">Plant Name</div>
          <div class="text-muted text-uppercase font-weight-bold font-xs">Howrah Plant</div>
        </div>
      </div>
    </div>
    <!--/.col-->
    <div class="col-12 col-lg-3">
      <div class="card">
        <div class="card-body p-0 clearfix">
          <i class="fa fa-map-marker bg-info p-4 font-2xl mr-3 float-left"></i>
          <div class="font-xs text-info mb-0 pt-3">Plant Location</div>
          <div class="text-muted text-uppercase font-weight-bold font-xs">Howrah</div>
        </div>
      </div>
    </div>
    <!--/.col-->
    <div class="col-12 col-lg-3">
      <div class="card">
        <div class="card-body p-0 clearfix">
          <i class="fa fa-clock-o bg-warning p-4 font-2xl mr-3 float-left"></i>
          <div class="font-xs text-warning mb-0 pt-3">Current Baking Time</div>
          <div class="text-muted text-uppercase font-weight-bold font-xs">{{currentBakingTime}} sec</div>
        </div>
      </div>
    </div>
    <!--/.col-->
    <div class="col-12 col-lg-3">
      <div class="card">
        <div class="card-body p-0 clearfix">
          <i class="fa fa-bell bg-danger p-4 font-2xl mr-3 float-left"></i>
          <div class="font-xs text-danger mb-0 pt-3">Current Product</div>
          <div class="text-muted text-uppercase font-weight-bold font-xs">MARIE GOLD</div>
        </div>
      </div>
    </div>
  </div>
  <!--/.row-->
 