.cardStyle{
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #052d3c;
    background-clip: border-box;
    border: 1px solid #052d3c;
    border-radius: .25rem;
}