<div class="app-body">
  <main class="main d-flex align-items-center" [ngStyle]="{'background-image': 'url(' + 'assets/img/brand/homebg2.jpg' + ')'}" style="background-repeat: no-repeat; background-size: cover;">
    <div class="container">
      <div class="row">
        <div class="col-md-5 mx-auto">
          <div class="card-group">
            <div class="card p-4 cardStyle">
              <div class="card-body">
                <form #f="ngForm" (ngSubmit)="singIn(f.value)">
                  <h1>Login</h1>
                  <p class="text-muted">Sign In to your account</p>
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="icon-user"></i></span>
                    </div>
                    <input type="text" name="username" ngModel class="form-control" placeholder="Username" autocomplete="username" required>
                  </div>
                  <div class="input-group mb-4">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="icon-lock"></i></span>
                    </div>
                    <input type="password" name="password" ngModel class="form-control" placeholder="Password" autocomplete="current-password" required>
  
                  </div>
                  <div *ngIf="invalidLogin" class="alert alert-danger">
                  Username or password invalid.
                  </div>
                  <div class="row">
                    <div class="col-6">
                      <button type="submit" class="btn btn-primary px-4">Login</button>
                    </div>
                    <div class="col-6 text-right">
                      <button type="button" class="btn btn-link px-0">Forgot password?</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
         
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
