<div class="data-table">
    <div class="example-container mat-elevation-z8">
      <div class="example-header">
        <mat-form-field>
          <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
        </mat-form-field>
      </div>
      <mat-table #table [dataSource]="dataSource">
    
        <!-- Position Column -->
        <ng-container matColumnDef="logTime">
          <mat-header-cell *matHeaderCellDef> logTime </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.logTime}} </mat-cell>
        </ng-container>
    
        <!-- Name Column -->
        <ng-container matColumnDef="bakingTime">
          <mat-header-cell *matHeaderCellDef> bakingTime </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.bakingTime}} </mat-cell>
        </ng-container>
    
        <!-- Weight Column -->
        <ng-container matColumnDef="productionLine">
          <mat-header-cell *matHeaderCellDef> productionLine </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.productionLine}} </mat-cell>
        </ng-container>
    
        <!-- Symbol Column -->
        <ng-container matColumnDef="productName">
          <mat-header-cell *matHeaderCellDef> productName </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.productName}} </mat-cell>
        </ng-container>
    
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>
    
      <mat-paginator #paginator
                     [pageSize]="10"
                     [pageSizeOptions]="[5, 10, 20]"
                     [showFirstLastButtons]="true">
      </mat-paginator>
    </div>
  </div>
