<div class="animated fadeIn">
    <app-dashboard-widgets></app-dashboard-widgets>
    <app-bake-charts></app-bake-charts>
    <app-bake-time-charts></app-bake-time-charts>
    <app-gauge-chart></app-gauge-chart>
</div>
